exams/ignore*
exams/mt_16_17_r/test.txt
classes/aula1_daniel
classes/aula2
classes/aula3
classes/aula4
classes/aula5
classes/aula6
classes/e*
classes/*.pdf
classes/replaceInList.pl
classes/plr_class.pl
exams/moodle_modle_test/all.pl
*.pyc
tp2/data/auto*
logs.txt